$main_bg_color: #abbaab;
$white: #fff;
$element_shadow: #B5B5B5;
$main_color: #00213B;
$secondary_color:#A22C29;
$secondary_highlight: #F51F1F;
$inactive_color: #A4A9AD;
$light_grey: #C5C5C5;
$grey: #929191;
$dark: #333;
$gold_color: #f18f01;
$green_color: #355834;
$profile_overlay_border: #041C2F;

$add_player: #72B01D;
$add_player_border: #3F7D20;

$danger: #cc1c18;
$success: #008148;
