@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animate($name, $duration, $iteration, $direction) {
  -webkit-animation-duration: $duration;
     -moz-animation-duration: $duration;
       -o-animation-duration: $duration;
          animation-duration: $duration;

  -webkit-animation-iteration-count: $iteration;
     -moz-animation-iteration-count: $iteration;
       -o-animation-iteration-count: $iteration;
          animation-iteration-count: $iteration;

  -webkit-animation-name: $name;
     -moz-animation-name: $name;
       -o-animation-name: $name;
          animation-name: $name;

  -webkit-animation-direction: $direction;
     -moz-animation-direction: $direction;
       -o-animation-direction: $direction;
          animation-direction: $direction;
}

@include keyframes(pulsateGrow) {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.0);
  }
}

@include keyframes(menuAnimationIn) {
	from {
    transform: translateY(100%);
  }
	to{
    transform: translateY(0%);
  }
}
@include keyframes(menuAnimationOut) {
	from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}
@include keyframes(rotateFoldBottom) {
	from {}
	to {
    opacity: 0;
     transform: translateY(100%) rotateX(-90deg);
   }
}

@include keyframes(moveFromTopFade) {
  from {
    opacity: 0.3;
    transform: translateY(-100%);
  }

}

@mixin rotateFoldBottom {
  @include animate(rotateFoldBottom, .7s, 1, normal);
}
@mixin moveFromTopFade {
  @include animate(moveFromTopFade, .7s, 1, normal);
}
@mixin pulsateGrow {
  @include animate(pulsateGrow, 2s, infinite, normal);
}

@mixin menuAnimationIn {
  @include animate(menuAnimationIn, .5s, 1, normal);
}

@mixin menuAnimationOut {
  @include animate(menuAnimationOut, .5s, 1, normal);
}
